$background-color: #FDE9E1;
$font-size: 14px;
$font: "lora", sans-serif;

@import 'variables';

* {
    /* Eliminamos espacios y márgenes*/
       margin: 0;
       padding: 0;
    /* Declaramos una tipografía para TODO */
       font-family: $font;
    /* Declaramos un font-size base */
       font-size: $font-size;
}

    /*ESTILANDO EL MENÚ CON FLEX*/
.contenedor__flex__menu {
    display: flex;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    @media (max-width: map-get($breakpoints, laptop)) {
        display: flex;
        flex-direction: column; 
    }
    
    @media (max-width: map-get($breakpoints, tablet)) {
        display: flex;
        flex-direction: column; 
    }

    @media (max-width: map-get($breakpoints, phone)) {
        display: flex;
        flex-direction: column;
    }
 }
.encabezado {
    background-color: #FDE9E1;
    top: 0px;
    position: sticky;
    opacity: 0.8;
    img {
        width: 150px;
     }
}
.menu__list {
    li { 
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-top: 2%;
        a {
            color: #000709;
            text-decoration: none;
         }
    }

    @media (max-width: map-get($breakpoints, laptop)) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    @media (max-width: map-get($breakpoints, tablet)) {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: map-get($breakpoints, phone)) {
        display: flex;
        flex-direction: column;
    }
}

    /*ESTILANDO EL FOOTER CON FLEX*/
.fondo {
    background-color: $background-color;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    
    @media (max-width: map-get($breakpoints, tablet)) {
        background-color: #FDE9E1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: map-get($breakpoints, phone)) {
        background-color: #FDE9E1;
        display: flex;
        flex-wrap: wrap;
    }

    img {
        width: 250px;
        border-radius: 15px;
        margin-top: 30%;

        @media (max-width: map-get($breakpoints, tablet)) {
            margin-top: 10%;
            margin-bottom: 10%;
        }
    
        @media (max-width: map-get($breakpoints, phone)) {
            margin-top: 10%;
            margin-bottom: 10%;
        }
    }
}
.redes__soc {
    img {
        width: 20px;
        border-radius: 15px;
        margin-top: 100%;
        margin-bottom: 30%;

        @media (max-width: map-get($breakpoints, tablet)) {
            width: 20px;
            border-radius: 15px;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        @media (max-width: map-get($breakpoints, phone)) {
            width: 20px;
            border-radius: 15px;
            margin-top: 20%;
            margin-bottom: 30%;
        }
    }  
}
.fondo__copyright {
    background-color: #FDE9E1;
    display: flex;
    justify-content: center;
    h3 {
        margin-top: 3%;
        margin-bottom: 3%;
    }
}

    /*ESTILANDO INDEX*/ /*MAIN*/
.foto__secundaria {
    img {
        width: 100%;
    }
}

    /*ESTILANDO INDEX*/ /*ASIDE*/
.background__aside__index {
    background-color: #EDF6F9;
}
 .titulo-principal {
    font-family: "Merienda", cursive;
    font-size: 2rem;
    text-align: center;
}
.foto__list {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 50px;
            margin-top: 5%;
            border-radius: 23px;
        }
        p{
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 2%;
            margin-bottom: 3%;
        }
    }
} 

    /*ESTILANDO MENÚ "DIRIGIDO A"*/ /*MAIN*/
.titulo-principal-1 {
    font-family: "Merienda", cursive;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
 }

    /*ESTILANDO CONTACTOS*/ /*MAIN*/
.grid-container-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "section section"
    "section section";
    gap: 5px;
}
.orden-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    a {
        font-size: 15px;
        color: black;
        text-decoration: none;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    iframe {
        width: 500px;
        border-radius: 4px; 
    }
}
.videos-espacios-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    h3 {
        margin-bottom: 8%;
    }
    iframe {
        border-radius: 4px; 
    }
 }

    /*ESTILANDO CONTACTOS*/ /*ASIDE*/
.orden-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}
.orden-datos-row {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 4%;
    li {
        margin-right: 10%;
    }
}
.fondo-contact {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 15%;
}

    /*ESTILANDO "NUESTROS ESPACIOS"*/ /*MAIN*/
.titulo-extra {
    p {
        text-align: center;
    }
}
.titulo-abajo {
    color: black;
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}
.img-espacios {
    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media (max-width: map-get($breakpoints, tablet)) {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }
    img {
        width: 20%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    } 
}

.videos-espacios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media (max-width: map-get($breakpoints, tablet)) {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    iframe {
        width: 20%;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.videos-de-acceso {
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    iframe {
        width: 20%;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 80px;
    }
}

    /*ESTILANDO "RESERVAS"*/
    /*GRID CONTAINER*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.6fr;
    grid-template-areas: 
    "header  header  header  header"
    "div     div     div     div"
    "main    main    aside   aside"
    "main    main    aside   aside"
    "footer  footer  footer  footer"
    ;
    gap: 20px;
}
header {
    grid-area: header;
}

 /*ESTILANDO "RESERVAS"*/ /*DIV*/
div {
    grid-area: div;
}
.titulo-principal-2 {
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Merienda", cursive;
    display: grid;
    justify-items: center;

    @media (max-width: map-get($breakpoints, laptop)) {
        font-size: 2rem;
        margin-top: 2%;
        display: grid;
        justify-items: center;
    }
}
.grid-1 {
    @media (max-width: map-get($breakpoints, laptop)) {
        margin-top: 60%;
    }
    
    @media (max-width: map-get($breakpoints, tablet)) {
        margin-top: 90%;
    }

    @media (max-width: map-get($breakpoints, phone)) {
        margin-top: 95%;
    }
 }

 /*ESTILANDO "RESERVAS"*/ /*MAIN*/
main{
    grid-area: main;
}
.img-horario-valor {
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 5%;
    margin-right: 5%;

    @media (max-width: map-get($breakpoints, laptop)) {
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    img {
        width: 100%;
    }
}
.titulo-valores {
    ul {
        li {
            text-align: center; 
            list-style-type: none;
            margin-top: 3%;
        }
    }
}

    /*ESTILANDO "RESERVAS"*/ /*ASIDE*/
aside {
    grid-area: aside;
}
.titulo-extra-cotización {
    form {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        div {
            display: flex;
            flex-direction: column;
            margin-top: 3%;
            margin-left: 30%;
            margin-right: 30%;
        }
    }
    textarea {
        background-color: #EDF6FA;
    }
    label {
        text-align: center;  
    }
}
.foto-secundaria-reservas {
    img {
        width: 100%;
        margin-top: 10%;
    }
}
    /*ESTILANDO "RESERVAS"*/ /*FOOTER*/
footer {
    grid-area: footer;
}

    /*ESTILANDO "EQUIPO"*/ /*MAIN*/
.color__equipo {
    background-color: #EDF6FA;
}
.card__equipo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;

    @media (max-width: map-get($breakpoints, laptop)) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
    }
    
}
.card{
    position: static;
}

    /*ESTILANDO "QUIENES SOMOS"*/
.img-qs {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 45px; 
    }
}
 .titulo-extra {
    ul {
        li {
            text-align: center;
            text-decoration: none; 
            list-style-type: none;
        }
    }
}
.copyright {
    font-size: 14px; 
    font-weight: bold;
 }

/*ESTILANDO "DIRIGIDO A"*/
.row {
    h1 {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-family: "Merienda", cursive;
    } 
}
 
