.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.6fr;
    grid-template-areas: 
      "header header header header"
      "div div div div"
      "main main aside aside"
      "main main aside aside"
      "footer footer footer footer";
    gap: 20px;
  }
  
  header {
    grid-area: header;
  }
  
  div {
    grid-area: div;
  }
  
  main {
    grid-area: main;
  }
  
  aside {
    grid-area: aside;
  }
  
  footer {
    grid-area: footer;
  }