@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin respond-to($size) {
    @media (max-width: map-get($breakpoints, $size)) {
        @content;
    }
}

@mixin responsive($property, $map) {
    @each $label, $value in $map {
        @media (max-width: $value) {
            @content;
            #{$property}: $label;
        }
    }
}
