.titulo-principal-1 {
  font-family: "Merienda", cursive;
  font-size: 2rem;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.row {
  h1 {
      display: flex;
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 5%;
      font-family: "Merienda", cursive;
  } 
}