.color__equipo {
    background-color: #EDF6FA;
}
.card__equipo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;

    @include responsive(display, $breakpoints) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
    }
    
}
.card{
    position: static;
}