.titulo-extra {
    p {
      text-align: center;
      color: black;
      line-height: 1.5;
      font-size: 17px;
      margin-left: 20%;
      margin-right: 20%;
    }
  }
  
  .titulo-abajo {
      h2 {
        display: block;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px; 
        font-family: "Merienda", cursive;
        font-size: 2rem;
        color: #DEDEDE;
      }
    }

  
  .titulo-principal-1 {
    font-family: "Merienda", cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5%;
  }

  .color_fondo_1 {
    /*background-color: #35666E;*/
    background: rgb(133,196,189);
    background: radial-gradient(circle, rgba(133,196,189,1) 31%, rgba(53,102,110,1) 100%);
  }
  .img-espacios {
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  
      @include respond-to(tablet) {
        flex-direction: column;
        align-content: center;
      }
    }
  
    img {
      width: 40%;
      @include respond-to (tablet) {
        width: 80%;
      }
    }

  }
  
  .videos-espacios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    @include respond-to(tablet) {
      flex-direction: column;
      align-content: center;
    }
  
    iframe {
      width: 40%;
      height: 315px;

      @include respond-to (tablet) {
        width: 80%;
      }
    }
  }
  
  .videos-de-acceso {
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    iframe {
        width: 40%;
        padding-bottom: 5%;

        @include respond-to (tablet) {
          width: 80%;
        }
    }
}