.titulo-extra {
    p {
      text-align: center;
      color: black;
      line-height: 1.5;
    }
  }
  
  .titulo-abajo {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  
  .titulo-principal-1 {
    font-family: "Merienda", cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5%;
  }

  .color_fondo_1 {
    background-color: #35666E;
  }
  .img-espacios {
    div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  
      @include respond-to(tablet) {
        flex-direction: column;
        align-content: center;
      }
    }
  
    img {
      width: 50%;
    }
  }
  
  .videos-espacios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    @include respond-to(tablet) {
      flex-direction: column;
      align-content: center;
    }
  
    iframe {
      width: 50%;
      height: 315px;
    }
  }
  
  .videos-de-acceso {
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    iframe {
        width: 50%;
        border-radius: 10px;
        padding-bottom: 5%;
    }
}