.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "section section"
      "section section";
    gap: 5px;
  
    @include respond-to(laptop) {
      flex-direction: column;
    }
  
    @include respond-to(tablet) {
      flex-direction: column;
    }
  
    @include respond-to(phone) {
      flex-direction: column;
    }
  }
  
  .orden-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }
  
  .orden-datos-row {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 4%;
  
    li {
      margin-right: 10%;
    }
  }
  
  .orden-correos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }
  
  .fondo-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 15%;
  
    @include respond-to(laptop) {
      width: 90%;
      margin-left: 0px;
    }
  
    @include respond-to(tablet) {
      width: 90%;
      margin-left: 0px;
    }
  
    @include respond-to(phone) {
      width: 90%;
      margin-left: 0px;
    }
  }